/* nav related styles */
body{
    font-family: "Lato", sans-serif;
    font-family: "Open Sans", sans-serif;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 140px;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background:#FD6E0A;
    border: 0;
    color: white;
    padding: 15px 35px;
    font-size: 20px;
    font-weight: 700;
}
.nav-title{
    
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: #474747;
   
}
/* header related styles */
.header{
    background-color: #fff8f3;
    background-image: url('../images/header_bg.png') , url('../images/developer.png' );
    background-repeat: no-repeat;
    background-position: bottom right, top left;
    
}
.banner{
    padding: 30px 30px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 400px;
    justify-content: space-between;
}
.banner .profile-picture{
    width: 400px;
    
    

}
.banner-greeting{
    font-size: 15px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 90px;
    font-style: normal;
    font-weight: 600;
    margin-top: 1px;
    margin-bottom: 0;
}
.banner-description{
    margin: -20px  0 40px 0;
}

/* main section styles */
.about{
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0px;
}
main{
    max-width: 1140px;
    margin: 0px auto;
}
main section{
    margin-top: 100px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
#what-i-do-description{
    padding: 30px 130px;
}
 /* skill-related-styles */
 .skills-container{
    display: flex;
    gap: 24px;
 }
 .skill{
    padding: 30px;
    border-radius: 4px;
    background: #FFF8F3;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.1);
 }
 .skill-description{
    padding: 20px 30px 30px 3px;
    color: #757575;
 }
 /* Resume section styles */
.resume-column-title{
    color: #474747;
    font-size: 25px;
    font-weight: 600;
}
.resume-container{

    display: flex;
    gap: 50px;

}
.resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 650;
    margin-bottom: 10px ;
}
.resume-item-institute {
    margin-bottom: 10px;
    margin-top: 0px;
}
.resume-item-institute ,
.resume-item-description
{
    color: #757575;
}
.resume-container hr{
    margin: 25px 30px 25px 0px;
}
.download-cv{
    margin-top: 30px;
    text-align: center;
}

/* footer styles */
footer{
    display: flex;
    gap: 50px;
    background-color: #FFF8F3;
    padding: 110px 140px;
    margin-top: 100px;
   
}
.social-link a{
    margin-right: 20px ;
}
.contact input[type="text"],.contact input[type="email"], textarea{
     display: block;
     margin-bottom: 24px;
     padding: 15px 30px;
     color: #757575;
     border-radius: 4px;
     background-color: white;
     border: 0;
}